fastapi
uvicorn[standard]
sqlalchemy
pydantic
psycopg2-binary
passlib[bcrypt]
python-dotenv
pytest
requests
alembic
PyJWT
python-jose
typing-extensions
asyncpg
aiosqlite
asgiref
email-validator
pyotp
python-jose
pika
SQLAlchemy-Utils
itsdangerous
werkzeug
apscheduler
bcrypt
password-validator
